<div class="container form-container">
  {{#if addMeetup}}
    <div>
      <form>
        <div class="form-group">
          <label for="name">Meetup Name</label>
          {{input class="form-control" value=name id="name"}}
        </div>

        <div class="form-group">
          <label for="image">Image URL</label>
          {{input class="form-control" value=image id="image"}}
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          {{textarea class="form-control" value=description id="description"}}
        </div>

        <div class="form-group">
          <label for="categories">Tags for your meetup:</label>
          {{input class="form-control" value=categories id="categories" placeholder="tag1, tag2, etc..."}}
        </div>

        <div class="form-group">
          <label for="url">URL for the meetup:</label>
          {{input class="form-control" value=url id="url"}}
        </div>


        <button class="btn btn-primary btn-sm btn-outline" {{action 'add'}}>Save</button>

      </form>
    </div>
  {{else}}
    <div class="wrapper">
      <button class = "btn btn-primary btn-lg btn-outline newMeetupButton" {{action 'addMeetupShow'}}>Add Meetup</button>
    </div>
  {{/if}}
</div>
