<br>
<h2>Reviews:</h2>
{{#if meetup.reviews}}
  <h3>Average rating: {{averageRating}}</h3>
  <hr>
{{else}}
  <p>No reviews yet for {{meetup.name}}</p>
{{/if}}

{{#each meetup.reviews as |review|}}
  <blockquote>
    <h3 class="yellowStars">{{review-rating-stars review}}</h3>
    <p>"{{review.comment}}"</p>
    <footer>{{review.username}} <p>{{moment-calendar review.timestamp}}</p></footer>
  </blockquote>
  <hr>
{{/each}}
